@{
    ViewData["Title"] = "Ajouter une activité";
}

@model Activite

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Activité</h4>
            <ol class="breadcrumb pull-right">
                <li><a href="#">Gestion des associations</a></li>
                <li><a href="#">Activité</a></li>
                <li class="active">Ajouter une activité</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ajouter une activité</h3></div>
                <div class="panel-body">
                    <form asp-action="Create" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label asp-for="Nom" class="col-md-2 control-label">Nom</label>
                            <div class="col-md-10">
                                <input asp-for="Nom" type="text" class="form-control" placeholder="Saisir le libellé">
                            </div>
                        </div>
                <div class="form-group">
                            <label asp-for="Libelle" class="col-md-2 control-label">Libellé</label>
                            <div class="col-md-10">
                                <input asp-for="Libelle" type="text" class="form-control" placeholder="Saisir le libellé">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date_prev" class="col-md-2 control-label">Date de début</label>
                            <div class="col-md-10">
                                <input  asp-for="Date_prev" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date_exec" class="col-md-2 control-label">Date fin</label>
                            <div class="col-md-10">
                                <input asp-for="Date_exec" type="date" class="form-control">
                            </div>
                        </div>
                         <div class="form-group">
                            <label asp-for="Type" class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <input asp-for="Type" type="text" class="form-control" placeholder="type">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Besoins" class="col-md-2 control-label">Besoins</label>
                            <div class="col-md-10">
                                <textarea asp-for="Besoins" type="text" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompteRendu" class="col-md-2 control-label">Compte rendu</label>
                            <div class="col-md-10">
                                <textarea asp-for="CompteRendu" type="text" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lieu" class="col-md-2 control-label">Lieu</label>
                            <div class="col-md-10">
                                <input asp-for="Lieu" type="text" class="form-control" placeholder="Saisir le lieu">
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light m-b-5 btn-lg">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div>

</div> <!-- container -->
